<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>




      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search_familiar/" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name = 'search'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
  </div>
</nav>


{% for familia in familiar %} 

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{familia.name}}  </h3>
      <p class="card-text">{{familia.parentezco}}</p>
      <a href="#" class="btn btn-primary">{{familia.nacimiento}}</a>
    </div>
  </div>


{% endfor%}
